<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="employee-grid" dx-data-grid="gridOptions"></div>
		</div>        
    </div>
        <button ng-click="addEmployee()" class="btn btn-danger">Добавить сотрудника</button>        
</div>

