<!--
<div class="login">
  <form method="post" action="">
      <p>
        <label for="login" class="login-label">Логин:</label>
        <input type="text" name="login" id="login" value="name@example.com">
      </p>

      <p>
        <label for="password" class="login-label">Пароль:</label>
        <input type="password" name="password" id="password" value="4815162342">
      </p>

      <p class="login-submit">
        <button type="submit" class="login-button">Войти</button>
      </p>
      
  </form>
</div>
-->
<form name="form" ng-submit="login()" role="form" class="login-form">
    <div class="form-group">
        <label for="username">Пользователь</label>
        <i class="fa fa-key"></i>
        <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
        <!--<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>-->
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <i class="fa fa-lock"></i>
        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
        <!--<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>-->
    </div>    
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Войти</button>      
    </div>
</form>