<div class="container-fluid">
<!--
	<div class="row-with-margin">	
		<div class="col-md-4">	    
	    </div>
	    <div class="col-md-8" id="mark-grid-parent">	       	
	       	<div class="input-group">
			  <input type="text" class="form-control" placeholder="Адрес отметки" aria-describedby="basic-addon2" id="searchTextField">
			  <span class="input-group-btn">
		        <button class="btn btn-secondary" type="button" ng-click="addMark()">Добавить</button>
		      </span>
			</div>
	    </div>		
	</div>	
-->
	<div class="row row-with-margin">	
		<div class="col-md-4">	    
	    </div>
	    <div class="col-md-4">	    
	    </div>
	    <div class="col-md-4">	       	
			<div >
			    <div dx-select-box="selectStatusOptions"></div>
			</div>
	    </div>		
	</div>	
	<div class="row row-with-margin no-gutter">
	        <div class="col-md-4">
	        	<div id="map"></div>
	        </div>
	        <div class="col-md-8" id="mark-grid-parent">
	        	<div dx-data-grid="gridOptions" class="mark-grid"></div>
	        </div>        
	</div>
	<div class="row row-with-margin">	
		<div class="col-md-4">	    
	    </div>
	    <div class="col-md-8" id="mark-grid-parent">	       	
	       	<div class="input-group">
			  <input type="text" class="form-control" placeholder="Адрес отметки" aria-describedby="basic-addon2" id="searchTextField">
			  <span class="input-group-btn">
		        <button class="btn btn-secondary" type="button" ng-click="addMark()">Добавить</button>
		      </span>
			</div>
	    </div>		
	</div>
<!--
	<div class="panel panel-default">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
-->

<div/>

<div ng-init="">
        <div class="popup" 
            dx-popup="popupOptions">
            <div data-options="dxTemplate: { name:'info' }">
                <p>{{popupTitle}}</p>               
            </div>
        </div>    
</div>