<div class="container-fluid">	
	<div class="row row-with-margin">
		<div class="col-md-3">
			<div class="dx-field">
	        	<div class="dx-field-label">Начальная дата</div>
	        	<div class="dx-field-value">
	            	<div dx-date-box="beginDateBox.eventOptions"></div>
	            </div>
	        </div>
		</div>
		<div class="col-md-3">
			<div class="dx-field">
	        	<div class="dx-field-label">Конечная дата</div>
	        	<div class="dx-field-value">
	            	<div dx-date-box="endDateBox.eventOptions"></div>
	            </div>
	        </div>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-3"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="stat-grid" dx-data-grid="gridOptions"></div>
		</div>        
    </div>        
</div>