
body {
    padding: 20px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#map {        
    /*border: 1px double black; /* Параметры границы */
    height: 500px;
    margin-top: 2px;    
}


.mark-grid {
    height: 500px;
    margin-left: 2px;   
/*    border: 1px double black; /* Параметры границы */    
}

.employee-grid {
    height: 500px;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 200px; 
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.denied {
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -200px;
    margin-left: -300px;
    width: 600px;
    height: 200px;

    color: rgb(51, 204, 255);
}

.row-with-margin{
  margin-top: 30px;
  margin-bottom: 30px
}

.test{
    background: red;
}