<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Помощь при ДТП Челябинск</title>


   
    <!-- async defer -->
    

    <meta charset="utf-8" />
    <!--
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    -->

    <link rel="stylesheet" href="css/dx.common.css" />
    <link rel="stylesheet" href="css/dx.light.css" />
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />-->
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

     <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLQzhfWzElcX5lj5V44s6dMDBI_18SgVw"></script>-->
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLQzhfWzElcX5lj5V44s6dMDBI_18SgVw&libraries=places"></script>

    
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>    
    <!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
    
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/angular-ui-router.js"></script>
    
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.min.js"></script>-->
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular-google-maps.js"></script>
    
    <script type="text/javascript" src="js/globalize.min.js"></script>
    <script type="text/javascript" src="js/localization/dx.all.ru.js"></script>    
    <script type="text/javascript" src="js/localization/globalize.cultures.js"></script> 
    <script type="text/javascript" src="js/dx.webappjs.js"></script>
    <script type="text/javascript" src="js/jszip.min.js"></script>
    <script type="text/javascript" src="js/knockout-3.3.0.js"></script>

   

    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="services/marksFactory.js"></script>
    <script type="text/javascript" src="services/employeesFactory.js"></script>
    <script type="text/javascript" src="services/authorizationService.js"></script>
    <script type="text/javascript" src="views/mapViewController.js"></script>
    <script type="text/javascript" src="views/loginViewController.js"></script>
    <script type="text/javascript" src="views/employeesViewController.js"></script>
    <script type="text/javascript" src="views/statViewController.js"></script>
    

    <link rel="icon" type="image/x-icon" href=" /favicon.ico">
</head>

<body>    
    <div ng-controller="mainController">
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="{{mapClass}}"><a href="#/map" data-target="#map" ng-if="hasRights('map')"  ui-sref="mapState" data-toggle="tab">Карта</a></li>
                <li class="{{employeeClass}}"><a ng-if="hasRights('employee')" href="#/employees" data-target="#employees" ui-sref="employeesState" data-toggle="tab">Сотрудники</a></li>
                <li class="{{statClass}}"><a ng-if="hasRights('stat')" href="#/statistics" data-target="#statistics" ui-sref="statState" data-toggle="tab">Статистика</a></li> 
                <li><a ng-if="isAuthorized()" ng-click="logOut()" data-toggle="tab">Выход</a></li>
            </ul>
        </div>
    </div>
    <div ui-view></div>
</body>
</html>

